.qrForm
    margin: 20px auto
    max-width: 1000px
    height: 75vh
    background: $white
    color: $black
    border-radius: 8px
    border: 2px solid $white
    .formOpts
        display: flex
        gap: .25rem
        margin-bottom: 10px
        background: $black
        color: $white
        border-bottom: .25rem solid $black   
        border-radius: 8px 8px 0 0
        .optLabel
            padding: .5rem 1rem
            font-size: 1.124rem
            cursor: pointer
            font-weight: bold
            position: relative
            &:after
                content: ''
                display: block
                height: 3px
                width: 0px
                background: orange
                transition: width 0.3s ease, left 0.3s ease
                position: absolute
                bottom: 0
                left: 50%
            &.active:after
                width: 100%
                left: 0

        .radioOpt
            display: none

    .formFields
        display: flex
        width: 60%
        height: 100%
        flex-direction: column

        button
            width: 15rem
            margin-top: 20px
            padding: .75rem
            font-size: 1.124rem
            background: $black
            color: $white
            border: none
            border-radius: 4px
            cursor: pointer
            font-weight: bold

    .formContainer
        display: flex

        .qrResult
            margin-left: 2rem
            display: flex
            flex-direction: column
            align-items: center

            button
                margin-top: 20px
                padding: .75rem
                background: $black
                color: $white
                border: none
                border-radius: 4px
                cursor: pointer
                font-weight: bold